@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.1);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  /* min-height: 100dvh;  */
  padding-top: 20dvh; 


  .hero {
    max-width: 200px;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }



  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 30px;
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.colorModeContainer {
  position: relative;
  animation: scaleIn 1.5s ease-out forwards;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

.description {
  max-width: 40ch;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  a {
    text-decoration: none;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >= 1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}
